<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/button.css">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container" style="height:600px">
<!--主按钮-->
<div class="row">
<div class=col-md-3><button id="btn1" class="button" style="border-radius:10%;height:200px;width:100%">新建查询</button></div>
<div class=col-md-3><button id="btn2" class="button" style="border-radius:10%;height:300px;width:100%">查询列表</button></div>
<div class=col-md-3><button id="btn3" class="button" style="border-radius:10%;height:400px;width:100%">个人信息</button></div>
<div class=col-md-3><button id="btn4" class="button" style="border-radius:10%;height:500px;width:100%">修改密码</button></div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  	$("#btn1").mouseenter(function(){
  	  $(this).css("height","600px")
  	});
  	$("#btn1").mouseleave(function(){
  	  $(this).css("height","200px")
  	});

  	$("#btn2").mouseenter(function(){
  	  $(this).css("height","600px")
  	});
  	$("#btn2").mouseleave(function(){
  	  $(this).css("height","300px")
  	});

  	$("#btn3").mouseenter(function(){
  	  $(this).css("height","600px")
  	});
  	$("#btn3").mouseleave(function(){
  	  $(this).css("height","400px")
  	});

  	$("#btn4").mouseenter(function(){
  	  $(this).css("height","600px")
  	});
  	$("#btn4").mouseleave(function(){
  	  $(this).css("height","500px")
  	});

    $("#btn1").click(function(){
      window.location.href="new_search.html"
    });
    $("#btn2").click(function(){
      window.location.href="QueryListPtea.html"
    });
    $("#btn3").click(function(){
      window.location.href="personal_info.html"
    });
    $("#btn4").click(function(){
      window.location.href="change_pwd.html"
    });
  });
</script>
</body>
</html>