<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/button.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/jquerycookie.js"></script>
</head>
<body>
<div class="container" style="height:600px">
    <!--登陆框框-->
    <div class="row">
        <div class=col-md-3>
            <button id="btn1" class="button" style="border-radius:10%;height:50px;width:70%">新建查询</button>
        </div>
        <div class=col-md-3>
            <button id="btn2" class="button" style="border-radius:10%;height:50px;width:70%">查询列表</button>
        </div>
        <div class=col-md-3>
            <button id="btn3" class="button" style="border-radius:10%;height:50px;width:70%">个人信息</button>
        </div>
        <div class=col-md-3>
            <button id="btn4" class="button" style="border-radius:10%;height:50px;width:70%">发布列表</button>
        </div>
        <div style="float: right"><a id="welcomespan"
            style="color: #bfc9ca;display: block;font-size: 17px;margin-top: 15px;text-align: center">welcome</a></div>
    </div>


    <div style="margin:0 auto;margin-top:1%; width:60%; height:100%; background-color: #FAFAFA;border-radius:5%;opacity: 0.9">
        <!-- <form action="person_info_change.jsp" method="post"> -->
        <div class="form-group" style="margin:0 auto; margin-top:0%; width:80%">
            <center><h1>Personal information</h1></center>
            <hr style="width:300px;height:1px;border:none;border-top:1px solid #d6d6d6;"/>
            <div class="input-group">
                <div class="input-group-addon">用户名</div>
                <input type="text" id="username" class="form-control" style="height:45px" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-addon">姓名</div>
                <input type="text" id="name" class="form-control" style="height:45px" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-addon">邮箱</div>
                <input type="text" id="email" class="form-control" style="height:45px" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-addon">身份</div>
                <input type="text" id="identity" class="form-control" style="height:45px" placeholder="">
            </div>
            <br>

            <div class="form-group">
                <label for="exampleInputEmail1">学院</label><br>
                <select class="form-control" id="collegeId">
                </select>
            </div>

            <div class="form-group" id="grade">
                <label for="exampleInputEmail1">年级</label><br>
                <select class="form-control" id="gradeId">
                </select>
            </div>
            <br>
            <center>
                <a id="change_btn" class="button button-block button-rounded button-large">修改</a>
                <a id="submit_btn" class="button button-block button-rounded button-large">提交</a>
                <br>
                <a id="return_btn" class="button button-block button-rounded button-large">返回</a>
            </center>
        </div>
        <!-- </form> -->
    </div>
</div>
<script type="text/javascript">
    //欢迎span  以及登出
    var getusernmae = $.cookie('name');
    $("#welcomespan").html("欢迎您&nbsp&nbsp" + getusernmae + "!");
    $("#welcomespan").mouseenter(function () {
        $(this).html("登出");
        $(this).css("color", "#ff7b4d");
    });
    $("#welcomespan").mouseleave(function () {
        $(this).html("欢迎您&nbsp&nbsp" + getusernmae + "!");
        $(this).css("color", "#bfc9ca");
    });
    $("#welcomespan").click(function () {
        if(confirm("您确定要登出吗？")){
            $.ajax({
                type: "get",
                url: "../logout.do",
                dataType: "json",
                success: function (data) {
                    $.cookie('name',null);
                    window.location.href="login.html"
                },
                error: function (data) {
                }
            });
        }
        else{
            return false;
        }
    });
    
    //教师不显示年级
    //change button and submit button
    $(document).ready(function () {
         var user_info = {};
        $("#submit_btn").hide();
        $.ajax({
            type: "get",
            async: false,
            url: "../getUserInfo.do",
            dataType: "json",
            success: function (data) {
                user_info = {
                    username: data.userInfo.userName,
                    name: data.userInfo.name,
                    email: data.userInfo.email,
                    identity: data.userInfo.identity,
                    collegeId: data.userInfo.collegeId,
                    grade: data.userInfo.grade
                };
            }
        });
        $.ajax({
            type: "get",
            async: true,
            url: "../college.do",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#collegeId").append("<option value='" + data[i].collegeId + "'>" + data[i].collegeName + "</option>");
                }
                $("#collegeId option[value='" + user_info.collegeId + "']").attr("selected", true);
            }
        });
        if (user_info.identity === "2") {
            $("#gradeId").hide();
        }
        else {
            $.ajax({
                type: "get",
                async: true,
                url: "../grade.do",
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#gradeId").append("<option value='" + data[i].gradeId + "'>" + data[i].gradeId + "</option>");
                    }
                    $("#grade option[value='" + user_info.grade + "']").attr("selected", true);
                }
            });
        }
        //设置个人信息value
        console.log(user_info);
        $("#username").attr("placeholder", user_info.username);
        $("#username").val(user_info.username);
        $("#name").attr("placeholder", user_info.name);
        $("#name").val(user_info.name);
        $("#email").attr("placeholder", user_info.email);
        $("#email").val(user_info.email);
        if(user_info.identity === 1)$("#identity").attr("placeholder", "辅导员");
        else $("#identity").attr("placeholder", "教师");



        $("input").attr("readonly", "readonly");
        $("select").each(function () {
            $(this).attr("disabled", true);
        });


        $("#change_btn").click(function () {
            $("#change_btn").hide();
            $("#submit_btn").show();
            $("input").each(function () {
                if (this.id != "username" && this.id != "identity") {
                    $(this).removeAttr("readonly");
                }
            });
            $("select").each(function () {
                $(this).attr("disabled", false);
            });
            $("#submit_btn").click(function () {
                var user_change_info = {
                    userName: user_info.username,
                    name: $("#name").val(),
                    email: $("#email").val(),
                    collegeId: $("#collegeId").val(),
                    grade: $("#gradeId").val()
                };
                console.log(user_change_info);
                $.ajax({
                    type: "post",
                    url: "../changePerInfo.do",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(user_change_info),
                    success: function () {
                        $.cookie('name',user_change_info.name);
                        alert("修改成功!");
                        window.location.href = "homepage.html";
                    },
                });
            });
        });
        $("#return_btn").click(function () {
            window.location.href = "homepage.html";
        });
    });


    //导航栏
    $(document).ready(function () {
        $(".button:lt(4)").mouseenter(function () {
            $(this).css("height", "300px")
        });
        $(".button:lt(4)").mouseleave(function () {
            $(".button:lt(4)").css("height", "50px")
        });

        $("#btn1").click(function () {
            window.location.href = "new_search.html"
        });
        $("#btn2").click(function () {
            window.location.href = "QueryListPtea.html"
        });
        $("#btn3").click(function () {
            window.location.href = "personal_info.html"
        });
        $("#btn4").click(function () {
            window.location.href = "history.html"
        });
    });
</script>
</body>
</html>