<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/button.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.qrcode.js"></script>
    <script src="js/jquerycookie.js"></script>
</head>
<body style="overflow: scroll">
<div class="container" style="height:600px">
    <!--导航栏-->
    <div style="width:100%">
        <div class="row">
            <div class=col-md-3>
                <button id="btn1" class="button" style="border-radius:10%;height:50px;width:70%;opacity: 0.5">新建查询
                </button>
            </div>
            <div class=col-md-3>
                <button id="btn2" class="button" style="border-radius:10%;height:50px;width:70%;opacity: 0.5">查询列表
                </button>
            </div>
            <div class=col-md-3>
                <button id="btn3" class="button" style="border-radius:10%;height:50px;width:70%;opacity: 0.5">个人信息
                </button>
            </div>
            <div class=col-md-3>
                <button id="btn4" class="button" style="border-radius:10%;height:50px;width:70%;opacity: 0.5">发布列表
                </button>
            </div>
            <div style="float: right"><a id="welcomespan"
                style="color: #bfc9ca;display: block;font-size: 17px;margin-top: 15px;text-align: center">welcome</a></div>



            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="text-align: center">
                        <div style="margin-top:10%;margin-bottom: 10%" id="qrcode"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--table-->
    <table class="table table-striped" id="search_table"
           style="text-align:center;margin-top:2%;td.first-child:20%;td.second-child:50%">
        <!--表格首行导航栏-->
        <tr>
            <td colspan="3">
                <div class="row">
                    <div class="col-md-4 col-md-2">
                        <label class="radio-inline">
                            <input type="checkbox" name="all" id="selectall" value="true" onclick="select_all()"> 全选
                        </label>
                    </div>
                    <div class="col-md-4 col-md-2">
                        <label class="radio-inline">
                            <input type="checkbox" name="fudaoyuan" id="checkbox" value="true" onclick="do_search()"> 辅导员
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="search" placeholder="查询成绩" oninput="do_search()">
                    </div>
                    <div class="col-md-4 col-md-2">
                        <button type="button" class="btn btn-info" data-toggle="modal"
                                data-target=".bs-example-modal-lg" id="btnqrcode">点击生成二维码
                        </button>
                    </div>
                    <div class="col-md-4 col-md-2">
                        <button type="button" class="btn btn-danger" id="delbtn">删除表格</button>
                    </div>
                </div>
            </td>
        </tr>


        <!--这是表单正式开始的第一行-->
        <tr>
            <td><input type="checkbox" name="test"></td>
            <td>ads</td>
            <td>asd</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="test"></td>
            <td>ads</td>
            <td>asd</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="test"></td>
            <td>ads</td>
            <td>asd</td>
        </tr>

    </table>

</div>
<script type="text/javascript">
    //欢迎span  以及登出
    var getusernmae = $.cookie('name');
    $("#welcomespan").html("欢迎您&nbsp&nbsp" + getusernmae + "!");
    $("#welcomespan").mouseenter(function () {
        $(this).html("登出");
        $(this).css("color", "#ff7b4d");
    });
    $("#welcomespan").mouseleave(function () {
        $(this).html("欢迎您&nbsp&nbsp" + getusernmae + "!");
        $(this).css("color", "#bfc9ca");
    });
    $("#welcomespan").click(function () {
        if(confirm("您确定要登出吗？")){
            $.ajax({
                type: "get",
                url: "../logout.do",
                dataType: "json",
                success: function (data) {
                    $.cookie('name',null);
                    window.location.href="login.html"
                },
                error: function (data) {
                }
            });
        }
        else{
            return false;
        }
    });


    //导航栏
    $(document).ready(function () {
        $(".button:lt(4)").mouseenter(function () {
            $(this).css("height", "300px");
            $(this).css("opacity", 1);
        });
        $(".button:lt(4)").mouseleave(function () {
            $(".button:lt(4)").css("height", "50px");
            $(".button:lt(4)").css("opacity", 0.5);
        });

        $("#btn1").click(function () {
            window.location.href = "new_search.html"
        });
        $("#btn2").click(function () {
            window.location.href = "QueryListPtea.html"
        });
        $("#btn3").click(function () {
            window.location.href = "personal_info.html"
        });
        $("#btn4").click(function () {
            window.location.href = "history.html"
        });
    });


    //获取选中列表的名称 参数n是第几行
    function get_listname(n) {
        console.log(n);
        var name = $.trim($("#search_table tr").eq(n).children("td:eq(1)").text());
        return name;
    }


    //二维码
    $("#btnqrcode").click(function () {
        var i = 0;
        var tableNames = new Array();
        $(":checkbox[name='tablechecked']").each(function (index) {
            if ($(this).prop("checked")) {
                i++;
                tableNames.push($("span#tablerelname").eq(index).text());
            }
        });
        console.log(i);
        if(i == 0)alert("您没有勾选！");
        else{
            console.log(tableNames);
            $.ajax({
                type: "post",
                url: "../insertRecord.do",
                data: {
                    tableNames : tableNames
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.insertCode == 0) {
                        $("#qrcode").html("");//清空历史二维码
                        $('#qrcode').qrcode({
                            render: "canvas",
                            text: "http://localhost:8080/GradesSystem/views/QueryListPstu.html?queryName="+data.address
                        });
                        console.log(data.address);
                    }
                    else {
                        $("#qrcode").html("wrong");
                    }
                },
                error: function (data) {
                    alert(data + "获取表格信息失败");
                }
            });
        }
    });

    //删除
    $("#delbtn").click(function () {
        var i = 0;
        var tableInfo = new Array();
        $(":checkbox").each(function (index) {
            if ($(this).prop("checked")) {
                i++;
                var arr = {
                    "id": $(this).val(),
                    "name": $("span#tablerelname").eq(index-2).text()
                }
                tableInfo.push(arr);
            }
        });
        if(i == 0)alert("您没有勾选！");
        else{
            alert("您确定要删除？");
            console.log(tableInfo);
            $.ajax({
                type: "post",
                url: "../delTables.do",
                data: JSON.stringify(tableInfo),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var result = eval(data);
                    if (result.delResult === "true") {
                        alert("删除成功");
                        do_search();
                    } else {
                        alert("删除失败");
                    }

                },
                error: function (data) {
                    alert(data + "获取表格信息失败");
                }
            });
        }

    });

    //查看<a>标签
    $("a.look").each(function (i) {
        $(this).click(function () {
            alert(get_listname(i + 1));
        });
    });


    //加载
    function loadtables(search_table){
        $("#search_table tr").each(function(index){
            if(index>0){
                $(this).remove();
            }
        });
        $.ajax({
            type: "post",
            url: "../getTables.do",
            async: true,
            data: JSON.stringify(search_table),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#search_table").append("<tr><td style='width:20%'><label><input name='tablechecked' type='checkbox' value="
                        + data[i].id + "></label></td><td style='width:50%'><span id='tablerelname' style='display: none'>"
                        + data[i].name + "</span>"
                        + data[i].name.substring(data[i].name.indexOf("_") + 1)
                        + "</td><td><a class='look'>查看</a></td></tr>");
                }
            },
            error: function (data) {
                alert(data + "获取表格信息失败");
            }
        });
    }
    $(document).ready(function () {
        do_search();
        //检查当前复选框的选择情况
        check_selectall();
        $(":checkbox[name='tablechecked']").click(function(){
            check_selectall();
        });
    });

    //模糊搜索匹配
    function do_search() {
        var usergrade = "false";
        var search_name = "";

        if ($("#checkbox").prop("checked")){
            usergrade = "true";
            $("#delbtn").attr('disabled',true);
        }
        else{
            usergrade = "false";
            $("#delbtn").attr('disabled',false);
        }

        search_name = $("#search").val();
        // $("tr").each(function (index) {
        //     if (index == 0) ;
        //     else {
        //         $(this).remove();
        //     }
        // });
        var search_table = {
            userGrade: usergrade.toString(),
            tableName: search_name.toString()
        };
        console.log(search_table);
        loadtables(search_table);
    }

    function select_all(){
        var select = true;
        select = $("#selectall").prop('checked');
        console.log(select);
        $(":checkbox").each(function(index){
            if(index > 1){
                $(this).prop('checked',select);
                console.log(index);
            }
        });
    }

    function check_selectall(){
        if($(":checkbox[name='tablechecked']").length != $(":checkbox[name='tablechecked']:checked").length)
            $("#selectall").prop("checked",false);
        else $("#selectall").prop("checked",true);
    }
</script>
</body>
</html>