<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container" style="height:600px">
    <center><h1>查询列表</h1></center>
    <hr style="width:50%;height:1px;border:none;border-top:1px solid #d6d6d6;"/>

    <!-- 成绩查询列表 -->
    <table id="table_list" class="table table-striped table-hover" style="margin:0 auto;width:80%;text-align: center">
        <th style="text-align:center;">查询名称</th>
        <th style="text-align:center;">状态</th>
        <th style="text-align:center;">操作</th>
    </table>


    <!-- 查询结果列表 -->
    <table id="grade_list" class="table table-striped table-hover" style="margin:0 auto;width:80%;text-align: center">
        <th style="text-align:center;">课程</th>
        <th style="text-align:center;">分数</th>

        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-default" id="retbtn">返回</button>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var info_list = {};
        var stu_id = "";
        var stu_name = "";
        //jq_alert();
        //change table
        loadQueryTables();
        $("#table_list").show();
        $("#grade_list").hide();

        //加载
        function loadQueryTables() {
            //截取url
            var url_sub = window.location.search;
            url_sub = $.trim(url_sub.substring(url_sub.indexOf('=') + 1));
            console.log(url_sub);
            $.ajax({
                type: "post",
                url: "../getTablesByQueryName.do",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: url_sub,
                success: function (data) {
                    var json = eval(data);
                    var tableStatus = json.tableInfo;
                    var i = 0;
                    for (i = 0; i < tableStatus.length; i++) {
                        $("#table_list").append("<tr><td>" + tableStatus[i].tableName.substring(tableStatus[i].tableName.indexOf("_") + 1) + "</td><td>" + tableStatus[i].tableStatus + "</td><td><a id='search_table' value='" + tableStatus[i].tableName + "'>查询</a></td></tr>");
                    }
                    searchGrade();
                },
                error: function () {

                }
            });
        }


        function searchGrade() {
            //查询
            $("a").click(function (index) {
                //table change
                var tableName = $(this).attr("value");
                console.log(tableName);
                info_list = {
                    name: "",
                    id: "",
                    tableName: tableName
                };
                jq_alert();
            });
        }

        //返回
        $("#retbtn").click(function () {
            var max_tr = $("#grade_list").find("tr").length - 1;
            console.log(max_tr);
            $("#grade_list tr").each(function (index) {
                if (index != 0 && index != max_tr) {
                    $(this).remove();
                    console.log("remove one <tr>");
                }
                //console.log(index);
            });
            $("#grade_list").hide();
            $("#table_list").show();
        });

        function jq_alert() {
            var htm = '';
            htm += '<div class="jq-alert" id="jq-alert"><div class="alert">';
            htm += '<center><h2>请先认证</h2></center>';
            htm += '<hr style="width:50%;height:1px;border:none;border-top:1px solid #d6d6d6;"/>';
            htm += '<div class="form-group" style="">' +
                '<label for="exampleInputName2">学号</label>' +
                '<input type="text" class="form-control" id="stu_id">' +
                '</div>';
            htm += '<div class="form-group" style="">' +
                '<label for="exampleInputName2">姓名</label>' +
                '<input type="text" class="form-control" id="stu_name">' +
                '</div>';
            htm += '<button class="btn btn-info" style="width:100%" id="confirm">确认</button><br>';
            htm += '</div></div>';
            $('body').append(htm);
            var al = $('#jq-alert');
            $("#confirm").click(function(){
                stu_id = $("#stu_id").val();
                stu_name = $("#stu_name").val();
                if(stu_id &&stu_name){
                    al.remove();
                    info_list.name = stu_name;
                    info_list.id = stu_id;
                    $.ajax({
                        type: "post",
                        url: "../getOne.do",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(info_list),
                        success: function (data) {
                            var grademap = eval(data);
                            for (var key in grademap) {
                                if (grademap[key] !== "NULL") {
                                    $("#grade_list tr").eq(-1).before("<tr><td>" + key + "</td><td>" + grademap[key] + "</td></tr>");
                                }
                            }
                            $("#table_list").hide();
                            $("#grade_list").show();
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                    //loadQueryTables();
                }
                else{
                    alert("学号和姓名不能为空");
                }
            });
            // $("#cancel").click(function(){
            //   al.remove();
            // });
            /*$("#confirm").click(function () {
                console.log("ok");
                stu_id = $("#stu_id").val();
                stu_name = $("#stu_name").val();
                var stu_info = {
                    id: $("#stu_id").val(),
                    name: $("#stu_name").val()
                };
                console.log(stu_info);
                $.ajax({
                    type: "post",
                    url: "../checkStu.do",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(stu_info),
                    success: function (data) {
                        console.log(data);
                        if (data != null) {
                            al.remove();
                            loadQueryTables();

                        }
                        else {
                            console.log(data);
                            alert("认证失败,请重新认证");

                        }
                    },
                    error: function () {

                    }
                });
            });*/
        }
    });
</script>
</body>
</html>