<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grades.mapping.CollegeMapper">

    <resultMap id="collegeResultMap" type="College">
        <id property="collegeId" column="college_id"/>
        <result property="collegeName" column="college_name"/>
    </resultMap>
    <!-- 读取数据 -->
    <select id="getAllColleges" resultMap="collegeResultMap">
        SELECT college_id,college_name FROM college;
    </select>
    <!-- 添加学院信息 -->
    <insert id="insertCollege">
        INSERT INTO college
        VALUES
        <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
            #{item.collegeId},
            #{item.collegeName}
        </foreach>
    </insert>
    <!-- 删除数据 -->
    <delete id="delCollege">
        DELETE FROM college WHERE college_id = #{collegeId};
    </delete>
    <!-- 更新数据 -->
    <update id="updateCollege">
        UPDATE college SET
        <if test="collegeId != null">
            college_id = #{collegeId}
        </if>
        <if test="collegeName != null">
            college_name = #{collegeName}
        </if>
        WHERE college_id = #{collegeIdOld};
    </update>
</mapper>