<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grades.mapping.TableInfoMapper">

    <resultMap id="tableInfoResultMap" type="TableInfo">
        <id property="tableId" column="table_info_id"/>
        <result property="tableName" column="table_info_name"/>
        <result property="userId" column="table_info_userid"/>
        <result property="userTrueName" column="user_true_name"/>
        <result property="pageViews" column="table_info_pv"/>
    </resultMap>

    <!--获取用户名下所有表-->
    <select id="getAllTablesByUser" resultMap="tableInfoResultMap">
        SELECT
            table_info_id,
            table_info_name,
            table_info_userid,
            table_info_pv
        FROM table_info
        WHERE table_info_userid = #{userId};
    </select>
    <!--获取同学院同年级所有表-->
    <select id="getAllTablesByGrade" resultMap="tableInfoResultMap">
        SELECT
            table_info_id,
            table_info_name,
            table_info_userid,
            table_info_pv
        FROM table_info
            JOIN users ON table_info_userid = users.user_id
        WHERE users.user_grade = #{userGrade};
    </select>
    <!-- 查询表 -->
    <select id="searchTables" resultMap="tableInfoResultMap">
        SELECT
        ti.table_info_id,
        ti.table_info_name,
        ti.table_info_userid,
        u.user_true_name,
        ti.table_info_pv
        FROM table_info ti
        JOIN users u ON ti.table_info_userid = u.user_id
        <where>
            <if test="userGrade == null || userGrade.trim().equals(&quot;&quot;)">
                u.user_id = #{userId}
            </if>
            <if test="userGrade != null &amp;&amp; !userGrade.trim().equals(&quot;&quot;)">
                AND u.user_grade = #{userGrade}
            </if>
            <if test="userGrade != null &amp;&amp; !userGrade.trim().equals(&quot;&quot;)">
                AND u.user_college = #{userCollege}
            </if>
            <if test="tableName != null &amp;&amp; !tableName.trim().equals(&quot;&quot;)">
                AND ti.table_info_name LIKE CONCAT('%', #{tableName}, '%')
            </if>
        </where>
    </select>
    <!--删除表信息-->
    <delete id="delTable" parameterType="list">
        DELETE FROM table_info WHERE table_info_id IN
        <foreach index="index" item="item" collection="list" open="(" close=")" separator=",">
            #{item.tableId}
        </foreach>
    </delete>
    <update id="dropTable" parameterType="String">
        DROP TABLE IF EXISTS ${tableName};
    </update>
    <!--插入表信息-->
    <insert id="insertTableInfo" parameterType="TableInfo" useGeneratedKeys="true" keyProperty="table_info_id">
        INSERT INTO table_info (table_info_name, table_info_userid)
        VALUES (#{tableName}, #{userId});
    </insert>
    <!--更新访问量-->
    <update id="updatePageViews">
        UPDATE table_info
        SET table_info_pv = table_info_pv + 1
        WHERE table_info_name = #{tableName};
    </update>
    <!-- 查找表名 -->
    <select id="findTable" parameterType="String" resultType="String">
        SELECT table_info_name
        FROM table_info
        WHERE table_info_name = #{table_info_name};
    </select>

    <!-- 创建新上传的成绩表 -->
    <update id="createTable">
        CREATE TABLE `${table_name}` (
        <foreach item="item" index="index" collection="list" separator=",">
            `${item}` VARCHAR (20) DEFAULT NULL
        </foreach>
        )
        ENGINE = MyISAM;
    </update>
    <!-- 新成绩表,数据插入 -->
    <insert id="insertData">
        INSERT INTO ${table_name}
        VALUES
        <foreach item="row" index="index" collection="list" separator=",">
            (
            <foreach item="item" index="index2" collection="row" separator=",">
                #{item}
            </foreach>
            )
        </foreach>
    </insert>
    <!-- 新成绩表,单条数据插入 -->
    <insert id="insertDataOne">
        INSERT INTO #{table_name}
        VALUES
        <foreach item="item" index="index" collection="list" separator="," open="（" close="）">
            #{item}
        </foreach>
    </insert>
</mapper>